.addNote {
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 8px;
    width: 80%;
    margin-left: 10%;

}
.button {
    /* background-color: #4CAF50; Green */
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
  }

  .button:hover{
    background-color: hsl(0, 7%, 94%); 
    color: black;
    overflow: hidden;
  }

  .button:focus{
    outline: none;
    background-color: #e7e7e7; 
  }

  
#title {
    width: 80%;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: .00625em;
    /* font-family: 'Google Sans',Roboto,Arial,sans-serif; */
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    /* border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0px; */
    border: none;

}
textarea:focus, input:focus{
    outline: none;
}

#note {
    display: block;
    width: 79%;
    height: 200px;
    margin-left: 10%;
    border: none;
}